.photoHeader{
    background-image: url(../../../images/photos/rest360_seccion_restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    margin-top: -4rem;
    background-position: center;
}

.carousel{
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    width: 90%;
    
}

.roundDiv{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.753);

}

.roundImage{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}