.photoHeader{
    background-image: url(../../../images/photos/rest360_seccion_restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    margin-top: -3rem;
    background-position: center;
}

.carousel{
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    width: 90%;
    
}