.formulario{
    
    margin: 20px;
    margin-top: 50px;
    padding: 26px;

    p{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .hora{
        margin-top: 8px;
        margin-bottom: 3px;
    }

}


