.divForm{
    margin-bottom: 2rem;  



    p{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .hora{
        margin-top: 8px;
        margin-bottom: 3px;
    }

}

.confirmation{
    
    margin: 25px;
    padding: 26px;
    border-radius: 25px;
    background-color: $highcolor;
    color: $bgcolor;
    font-size: 20px;

}
