
.divForm{
    margin-top: 4rem;
    margin-bottom: 4rem;  
    p{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .hora{
        margin-top: 8px;
        margin-bottom: 3px;
    }
    .div__datos{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



.confirmation{
    
    margin: 25px;
    padding: 26px;
    border-radius: 25px;
    background-color: $highcolor;
    color: $bgcolor;
    font-size: 20px;

}
