.smallIcon{
    width: 1rem;
  }

  .mediumIcon{
      width: 35px;
      height: 35px;
  }


  .bigIcon{
    width: 165px;
    height: 150px;
  }

  .roundDiv{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    box-shadow: 0px 0px 18px -2px #000000;
    margin: 1rem;

}

.roundImage{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.alergenoIcon{
  width: 35px;
  height: 35px;
}

.controlIcon{
  margin-top: -5px;
  width: 65px;
  height: 65px;
}