.acordeonDiv{
    margin: 0 2rem;
}

.acordeonBoton{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    height: 2rem;
}

.acordeonIcono{
    outline-color: red;
    outline: 5px solid red;
    height: 2rem;
    width: 2rem;
}